In [102]:
import pandas as pd

In [103]:
import numpy as np

In [104]:
import matplotlib.pylab as plt

In [105]:
from IPython.core.display import HTML
css = open('other/style-table.css').read() + open('other/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

# What Needs To Be Done in Wrangling

1. [x] Import datasets
2. [ ] Remove un-needed columns (for visual simplification)
3. [ ] Remove character '$' so that forced objects can be converted to numeric
  1. [ ] Convert forced objects to numeric (where appropriate)
5. [ ] Create combined dataset
6. [ ] Perform analysis on seperate and combined datasets

# What Needs To Be Done in Data Visualization

* [ ] Describe each dataset

# Here we compare the fields between the three datasets
![Field Compairson](FieldComparison.png)

In [106]:
# Load Los Angelos salaries dataset from Kaggle
la = pd.read_csv('data/city-payroll-data/data.csv', usecols=[0,1,2,4,5,6,7,15,21,23,24,25,32], dtype={4: object, 24: object})

In [107]:
# Load San Francisco salaries dataset from Kaggle
sf = pd.read_csv('data/sf-salaries/Salaries.csv', usecols=[0,1,2,3,4,5,6,7,9,11,12], dtype={3: object, 4: object, 5: object, 6: object, 12: object})

In [108]:
# Load New York City salaries dataset from OpenData
nyc = pd.read_csv('data/nyc/Citywide_Payroll_Data__Fiscal_Year_.csv', dtype={7: object})

In [109]:
la.head()

,Row ID,Year,Department Title,Record Number,Job Class Title,Employment Type,Hourly or Event Rate,Total Payments,Overtime Pay,Other Pay (Payroll Explorer),MOU,MOU Title,Average Benefit Cost
0,111391,2014,Water And Power (DWP),1412316577,Commercial Service Representative,Full Time,NaN,$74584.48,$369.12,$13904.79,NaN,NaN,$18124.69
1,31732,2013,Police (LAPD),432728338,Police Officer I,Full Time,$25.12,$51207.45,$11.13,$1689.27,24,POLICE OFFICERS UNIT,$12740.52
2,27697,2013,Police (LAPD),97182506,Police Officer II,Full Time,$42.77,$89029.61,$482.29,$3637.91,24,POLICE OFFICERS UNIT,$12740.52
3,14136,2013,Harbor (Port of LA),950136941,Senior Security Officer,Full Time,$28.75,$71936.24,$11504.72,$2770.72,12,SUPV BLUE COLLAR,$11126.88
4,91896,2014,Public Works - Sanitation,3230003445,Senior Clerk Typist,Full Time,$30.92,$64583.37,$417.37,$4774.25,03,CLERICAL UNIT,$11421.48

In [110]:
# Removing columns which I do not intend to use for this analysis
# la.drop(la.columns[[3, 8, 9, 10, 11, 12, 13, 14, 16, 26, 27, 28, 29, 30, 31, 33, 34]], axis=1)

In [111]:
# Removing the $ character so that the type can be converted to numeric for further statistical anaslysis
la['Hourly or Event Rate'] = la['Hourly or Event Rate'].str.lstrip('$')
la['Total Payments'] = la['Total Payments'].str.lstrip('$')
la['Overtime Pay'] = la['Overtime Pay'].str.lstrip('$')
la['Other Pay (Payroll Explorer)'] = la['Other Pay (Payroll Explorer)'].str.lstrip('$')
la['Average Benefit Cost'] = la['Average Benefit Cost'].str.lstrip('$')

In [112]:
# Converting datatypes to numeric for statistical analysis
la['Total Payments'] = pd.to_numeric(la['Total Payments'])
la['Hourly or Event Rate'] = pd.to_numeric(la['Hourly or Event Rate'])
la['Total Payments'] = pd.to_numeric(la['Total Payments'])
la['Overtime Pay'] = pd.to_numeric(la['Overtime Pay'])
la['Other Pay (Payroll Explorer)'] = pd.to_numeric(la['Other Pay (Payroll Explorer)'])
la['Average Benefit Cost'] = pd.to_numeric(la['Average Benefit Cost'])

In [113]:
la.dtypes

Row ID                            int64
Year                              int64
Department Title                 object
Record Number                    object
Job Class Title                  object
Employment Type                  object
Hourly or Event Rate            float64
Total Payments                  float64
Overtime Pay                    float64
Other Pay (Payroll Explorer)    float64
MOU                              object
MOU Title                        object
Average Benefit Cost            float64
dtype: object

In [114]:
la.describe()

,Row ID,Year,Hourly or Event Rate,Total Payments,Overtime Pay,Other Pay (Payroll Explorer),Average Benefit Cost
count,285008.000000,285008.000000,263987.000000,285008.000000,284574.000000,285008.000000,285008.000000
mean,142544.329759,2014.786701,38.891489,63014.632040,6387.454101,4983.182752,11290.999867
std,82330.135857,1.161369,32.924956,48666.570776,14670.314425,8719.631894,5708.016753
min,1.000000,2013.000000,0.000000,-30728.270000,-1019.490000,-30878.270000,0.000000
25%,71252.750000,2014.000000,26.480000,22930.745000,0.000000,389.027500,11126.880000
50%,142504.500000,2015.000000,37.310000,54959.080000,331.085000,2418.435000,11894.130000
75%,213756.250000,2016.000000,47.630000,95981.917500,5860.485000,6145.220000,14073.960000
max,285208.000000,2016.000000,900.000000,500930.740000,311315.620000,435621.770000,19392.620000

## Start with San Francisco salaries dataset

In [115]:
sf.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,2011,San Francisco,NaN

In [116]:
sf.dtypes

Id                int64
EmployeeName     object
JobTitle         object
BasePay          object
OvertimePay      object
OtherPay         object
Benefits         object
TotalPay        float64
Year              int64
Agency           object
Status           object
dtype: object

In [117]:
sf.describe()

                  Id       TotalPay           Year
count  148654.000000  148654.000000  148654.000000
mean    74327.500000   74768.321972    2012.522643
std     42912.857795   50517.005274       1.117538
min         1.000000    -618.130000    2011.000000
25%     37164.250000   36168.995000    2012.000000
50%     74327.500000   71426.610000    2013.000000
75%    111490.750000  105839.135000    2014.000000
max    148654.000000  567595.430000    2014.000000

# Staring with New York City salaries dataset

In [118]:
nyc.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of July 31,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2014,2.0,OFFICE OF THE MAYOR,MULLEN,ALFRED,J,03/20/1972,NaN,CALENDAR ASSISTANT ...,ON SEPARATION LEAVE,$83325.00,per Annum,1825.0,$83096.78,0.0,$228.03,$0.00
1,2014,2.0,OFFICE OF THE MAYOR,GARRETT,CORNELIUS,S,09/25/1976,NaN,FISCAL RESPONSIBILITY OFFICER ...,ON SEPARATION LEAVE,$70985.00,per Annum,1825.0,$70790.46,10.5,$845.07,$0.00
2,2014,2.0,OFFICE OF THE MAYOR,LEONARD,DIANE,M,11/22/1977,NaN,EXECUTIVE ASSISTANT-MIDTOWN ENFORCEMENT ...,ACTIVE,$40.51,per Hour,1573.0,$63165.38,0.0,$0.00,$0.00
3,2014,2.0,OFFICE OF THE MAYOR,ROSS,JEAN,A,07/01/1978,NaN,ADMINISTRATIVE MANAGER ...,ACTIVE,$125715.00,per Annum,1825.0,$125370.69,0.0,$0.00,$0.00
4,2014,2.0,OFFICE OF THE MAYOR,WEINSTOCK,SUSAN,NaN,07/01/1978,NaN,ADMINISTRATIVE PRINTING SERVICES MANAGER ...,ACTIVE,$84500.00,per Annum,1825.0,$84268.60,0.0,$0.00,$0.00

In [119]:
# Removing columns I do not intend to use
nyc = nyc.drop(nyc.columns[[1,7,10]], axis=1)

In [120]:
nyc.head()

,Fiscal Year,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Title Description,Leave Status as of July 31,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2014,OFFICE OF THE MAYOR,MULLEN,ALFRED,J,03/20/1972,CALENDAR ASSISTANT ...,ON SEPARATION LEAVE,per Annum,1825.0,$83096.78,0.0,$228.03,$0.00
1,2014,OFFICE OF THE MAYOR,GARRETT,CORNELIUS,S,09/25/1976,FISCAL RESPONSIBILITY OFFICER ...,ON SEPARATION LEAVE,per Annum,1825.0,$70790.46,10.5,$845.07,$0.00
2,2014,OFFICE OF THE MAYOR,LEONARD,DIANE,M,11/22/1977,EXECUTIVE ASSISTANT-MIDTOWN ENFORCEMENT ...,ACTIVE,per Hour,1573.0,$63165.38,0.0,$0.00,$0.00
3,2014,OFFICE OF THE MAYOR,ROSS,JEAN,A,07/01/1978,ADMINISTRATIVE MANAGER ...,ACTIVE,per Annum,1825.0,$125370.69,0.0,$0.00,$0.00
4,2014,OFFICE OF THE MAYOR,WEINSTOCK,SUSAN,NaN,07/01/1978,ADMINISTRATIVE PRINTING SERVICES MANAGER ...,ACTIVE,per Annum,1825.0,$84268.60,0.0,$0.00,$0.00

In [121]:
nyc['Regular Gross Paid'] = nyc['Regular Gross Paid'].str.lstrip('$')
nyc['Total OT Paid'] = nyc['Total OT Paid'].str.lstrip('$')
nyc['Total Other Pay'] = nyc['Total Other Pay'].str.lstrip('$')

In [122]:
nyc['Regular Gross Paid'] = pd.to_numeric(nyc['Regular Gross Paid'])
nyc['Total OT Paid'] = pd.to_numeric(nyc['Total OT Paid'])
nyc['Total Other Pay'] = pd.to_numeric(nyc['Total Other Pay'])

In [123]:
nyc.dtypes

Fiscal Year                     int64
Agency Name                    object
Last Name                      object
First Name                     object
Mid Init                       object
Agency Start Date              object
Title Description              object
Leave Status as of July 31     object
Pay Basis                      object
Regular Hours                 float64
Regular Gross Paid            float64
OT Hours                      float64
Total OT Paid                 float64
Total Other Pay               float64
dtype: object

In [124]:
nyc.describe()

,Fiscal Year,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.691487e+06,1.691486e+06,1.691486e+06,1.691486e+06,1.691486e+06,1.691486e+06
mean,2.015021e+03,7.022911e+02,3.996266e+04,6.443838e+01,3.440764e+03,2.302203e+03
std,7.892326e-01,9.041001e+02,3.665592e+04,1.519441e+02,8.886150e+03,5.083747e+03
min,2.014000e+03,-7.304300e+02,-2.986219e+04,-8.000000e+00,-2.382685e+04,-2.815950e+05
25%,2.014000e+03,0.000000e+00,3.651787e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.015000e+03,0.000000e+00,3.518840e+04,0.000000e+00,0.000000e+00,8.200000e-01
75%,2.016000e+03,1.825000e+03,7.172129e+04,8.000000e+00,4.109350e+02,1.686587e+03
max,2.016000e+03,4.171430e+03,6.723089e+05,3.347500e+03,2.286338e+05,1.003558e+05

# Begin comparison between datasets

In [125]:
sf.groupby('Year').size()

Year
2011    36159
2012    36766
2013    37606
2014    38123
dtype: int64

In [126]:
la.groupby('Year').size()

Year
2013     57379
2014     56948
2015     59767
2016    110914
dtype: int64

In [127]:
nyc.groupby('Fiscal Year').size()

Fiscal Year
2014    509525
2015    637144
2016    544818
dtype: int64

In [128]:
nyc.unstack('Fiscal Year')

Fiscal Year      0             2014
                 1             2014
                 2             2014
                 3             2014
                 4             2014
                 5             2014
                 6             2014
                 7             2014
                 8             2014
                 9             2014
                 10            2014
                 11            2014
                 12            2014
                 13            2014
                 14            2014
                 15            2014
                 16            2014
                 17            2014
                 18            2014
                 19            2014
                 20            2014
                 21            2014
                 22            2014
                 23            2014
                 24            2014
                 25            2014
                 26            2014
                 27            2014
                 28            2014
                 29            2014
                             ...
Total Other Pay  1691457    5532.89
                 1691458    1627.39
                 1691459       1000
                 1691460     566.52
                 1691461     852.01
                 1691462    1921.88
                 1691463       1000
                 1691464    1286.81
                 1691465       1000
                 1691466    1495.78
                 1691467    2492.54
                 1691468     496.77
                 1691469     965.24
                 1691470    3147.59
                 1691471    1539.05
                 1691472    1495.78
                 1691473    1495.78
                 1691474     2660.8
                 1691475    1876.15
                 1691476    2581.48
                 1691477    1525.51
                 1691478     235.43
                 1691479    2608.08
                 1691480    2757.46
                 1691481     479.46
                 1691482    1518.47
                 1691483     2506.7
                 1691484       1000
                 1691485       2250
                 1691486          0
dtype: object

In [129]:
nyc.groupby('Agency Name').size().sort_values()

Agency Name
DISTRICTING COMMISSION                 3
BRONX COMMUNITY BOARD #3               6
BRONX COMMUNITY BOARD #6               7
BRONX COMMUNITY BOARD #1               7
BROOKLYN COMMUNITY BOARD #9            8
MANHATTAN COMMUNITY BOARD #9           9
QUEENS COMMUNITY BOARD #14             9
BROOKLYN COMMUNITY BOARD #3            9
BROOKLYN COMMUNITY BOARD #14           9
BROOKLYN COMMUNITY BOARD #10           9
BRONX COMMUNITY BOARD #9               9
BRONX COMMUNITY BOARD #8               9
BRONX COMMUNITY BOARD #5               9
BRONX COMMUNITY BOARD #2               9
BROOKLYN COMMUNITY BOARD #11           9
STATEN ISLAND COMMUNITY BD #3          9
MANHATTAN COMMUNITY BOARD #7           9
BROOKLYN COMMUNITY BOARD #6           10
BROOKLYN COMMUNITY BOARD #16          10
BROOKLYN COMMUNITY BOARD #7           10
QUEENS COMMUNITY BOARD #13            10
BROOKLYN COMMUNITY BOARD #12          10
BROOKLYN COMMUNITY BOARD #2           10
BROOKLYN COMMUNITY BOARD #18          10
QUEENS COMMUNITY BOARD #11            10
STATEN ISLAND COMMUNITY BD #1         10
MANHATTAN COMMUNITY BOARD #12         10
QUEENS COMMUNITY BOARD #4             10
MANHATTAN COMMUNITY BOARD #11         10
MANHATTAN COMMUNITY BOARD #10         10
                                   ...
LAW DEPARTMENT                      5590
DEPARTMENT OF FINANCE               6706
DEPT OF CITYWIDE ADMIN SVCS         7358
HOUSING PRESERVATION & DVLPMNT      7367
DEPT. OF HOMELESS SERVICES          7638
COMMUNITY COLLEGE (BRONX)           8464
COMMUNITY COLLEGE (QUEENSBORO)      9754
COMMUNITY COLLEGE (LAGUARDIA)      11835
COMMUNITY COLLEGE (KINGSBORO)      13000
COMMUNITY COLLEGE (MANHATTAN)      14717
DEPARTMENT OF TRANSPORTATION       16916
DEPT OF ENVIRONMENT PROTECTION     20010
ADMIN FOR CHILDREN'S SVCS          21232
DEPT OF HEALTH/MENTAL HYGIENE      21434
DEPARTMENT OF CORRECTION           36626
NYC HOUSING AUTHORITY              42384
DEPT OF ED PER DIEM TEACHERS       43349
DEPARTMENT OF SANITATION           43600
DEPARTMENT OF EDUCATION ADMIN      45051
HRA/DEPT OF SOCIAL SERVICES        46302
FIRE DEPARTMENT                    53869
DEPT OF PARKS & RECREATION         54941
Police Department                  55619
POLICE DEPARTMENT                  59974
DEPT OF ED HRLY SUPPORT STAFF      74787
DEPT OF ED PARA PROFESSIONALS      92388
BOARD OF ELECTION POLL WORKERS     95357
POLICE DEPARTMENT                 124422
DEPT OF ED PER SESSION TEACHER    244375
DEPT OF ED PEDAGOGICAL            318709
dtype: int64

In [130]:
la.groupby('Department Title').size()

Department Title
Aging                                                             238
Airports (LAWA)                                                 18060
Animal Services                                                  1753
Building and Safety                                              4729
City Administrative Officer (CAO)                                 640
City Attorney                                                    4542
City Clerk                                                       2342
City Employees Retirement System (LACERS)                         752
City Ethics Commission                                            141
City Planning                                                    1272
City Planning And Development (DCP)                               329
Controller                                                        815
Council District 01 (CD 1)                                        123
Council District 02 (CD 2)                                        123
Council District 03 (CD 3)                                        109
Council District 04 (CD 4)                                        151
Council District 05 (CD 5)                                        132
Council District 06 (CD 6)                                        123
Council District 07 (CD 7)                                        118
Council District 08 (CD 8)                                        119
Council District 09 (CD 9)                                        110
Council District 10 (CD 10)                                       117
Council District 11 (CD 11)                                       122
Council District 12 (CD 12)                                       113
Council District 13 (CD 13)                                       107
Council District 14 (CD 14)                                       138
Council District 15 (CD 15)                                       113
Cultural Affairs                                                  816
Disability                                                         84
Economic And Workforce Development Department (EWDD)              896
El Pueblo De Los Angeles Historical Monument Authority            177
Emergency Management                                              202
Employee Relations Board                                           37
Fire (LAFD)                                                     18134
General Services                                                 7661
Harbor (Port of LA)                                              5604
Housing And Community Investment Department                      3255
Information Technology Agency                                    2492
Library                                                          7296
Los Angeles Convention Center                                     485
Los Angeles Department of Convention and Tourism Development       56
Mayor                                                             982
Neighborhood Empowerment (DONE)                                   215
Office of Finance                                                1870
Office of the Chief Legislative Analyst (CLA)                     249
Pension (LAFPP)                                                   637
Personnel                                                        3794
Police (LAPD)                                                   66057
Public Works - Board of Public Works                              456
Public Works - Contract Administration                           1485
Public Works - Engineering                                       3863
Public Works - Sanitation                                       14740
Public Works - Street Lighting                                   1139
Public Works - Street Services                                   4509
Recreation And Parks                                            35344
Transportation (LADOT)                                           9701
Water And Power (DWP)                                           53545
Zoo                                                              1796
dtype: int64

In [131]:
sf.groupby('Agency').size()

Agency
San Francisco    148654
dtype: int64

In [132]:
nyc.groupby('Agency Name').size()

Agency Name
ADMIN FOR CHILDREN'S SVCS         21232
ADMIN TRIALS AND HEARINGS          2068
BOARD OF CORRECTION                  43
BOARD OF CORRECTIONS                 17
BOARD OF ELECTION                  3480
BOARD OF ELECTION POLL WORKERS    95357
BOROUGH PRESIDENT-BRONX             190
BOROUGH PRESIDENT-BROOKLYN          268
BOROUGH PRESIDENT-QUEENS            220
BOROUGH PRESIDENT-STATEN IS         182
BRONX COMMUNITY BOARD #1              7
BRONX COMMUNITY BOARD #10            18
BRONX COMMUNITY BOARD #11            15
BRONX COMMUNITY BOARD #12            11
BRONX COMMUNITY BOARD #2              9
BRONX COMMUNITY BOARD #3              6
BRONX COMMUNITY BOARD #4             10
BRONX COMMUNITY BOARD #5              9
BRONX COMMUNITY BOARD #6              7
BRONX COMMUNITY BOARD #7             11
BRONX COMMUNITY BOARD #8              9
BRONX COMMUNITY BOARD #9              9
BRONX DISTRICT ATTORNEY            2112
BROOKLYN COMMUNITY BOARD #1          10
BROOKLYN COMMUNITY BOARD #10          9
BROOKLYN COMMUNITY BOARD #11          9
BROOKLYN COMMUNITY BOARD #12         10
BROOKLYN COMMUNITY BOARD #13         11
BROOKLYN COMMUNITY BOARD #14          9
BROOKLYN COMMUNITY BOARD #15         11
                                  ...
PUBLIC ADMINISTRATOR-KINGS           43
PUBLIC ADMINISTRATOR-NEW YORK        35
PUBLIC ADMINISTRATOR-QUEENS          25
PUBLIC ADMINISTRATOR-RICHMOND        16
PUBLIC ADVOCATE                     208
PUBLIC SERVICE CORPS               1367
Police Department                 55619
QUEENS COMMUNITY BOARD #1            14
QUEENS COMMUNITY BOARD #10           12
QUEENS COMMUNITY BOARD #11           10
QUEENS COMMUNITY BOARD #12           11
QUEENS COMMUNITY BOARD #13           10
QUEENS COMMUNITY BOARD #14            9
QUEENS COMMUNITY BOARD #2            12
QUEENS COMMUNITY BOARD #3            13
QUEENS COMMUNITY BOARD #4            10
QUEENS COMMUNITY BOARD #5            12
QUEENS COMMUNITY BOARD #6            13
QUEENS COMMUNITY BOARD #7            13
QUEENS COMMUNITY BOARD #8            18
QUEENS COMMUNITY BOARD #9            11
Queens DA                           660
Richmond DA                         112
STATEN ISLAND COMMUNITY BD #1        10
STATEN ISLAND COMMUNITY BD #2        13
STATEN ISLAND COMMUNITY BD #3         9
Spec Narcs-DA                       251
TAX COMMISSION                      170
TAXI & LIMOUSINE COMMISSION        2289
TEACHERS RETIREMENT SYSTEM         1281
dtype: int64